@charset 'utf-8';

body,html {
	font-family: YuGothic, 游ｺﾞｼｯｸ , Yu-Gothic, Yu Gothic;
	margin: 0;
	padding: 0;
}

header {
	background-color:rgba(200,200,200,0.5);
	border-bottom:5px solid #ccc;
	padding-top: 15vh;
	padding-bottom: 15vh;
}
.text-center {
	text-align: center;
}
.bg--canvas {
	left:0;
	position:fixed;
	top:0;
	z-index:1;
}
h1 {
	font-size:2.8rem;
	margin-bottom: 0;
	text-shadow: 3px 3px 0 #fff,
		5px 5px 0 #888;
}
.content {
	position:relative;
	z-index:2;
}
.main-content {
	padding-top: 1rem;
}
.container {
	margin-right: auto;
	margin-left: auto;
	width:80%;
}